{% extends 'djangoapp/base.html' %}



{%block title %} Add Review {% endblock %}

{% load static %}

{% block content %}
{% if user.is_authenticated %}
<h2> Enter review for a car dealership below </h2>
<form method="post">
    {% csrf_token %}
    <style>
        table {
            border-collapse: collapse;
        }
    
        th, td {
            border: 1px solid black;
            padding: 10px;
        }
    </style>

    <table>
        <style>
            .checkbox-container {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        </style>
<tr>
    <th> Value </th>
    <th> User Input </th>
</tr>

<tr>
    <td> Name</td>
    <td><input type="text" id="name" name="name"  required></input></td>
</tr>
  
<tr>
    <td> Review</td>
    <td><textarea class="form-control" id="content" name="content" rows="2" required></textarea></td>
</tr>
<tr>
    <td> Purchase Made </td>
    <td>
            &nbsp; &nbsp; &nbsp;
            <label for="purchasecheck"></label>
            <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck" required></input>
            &nbsp;
    </td>
</tr>
<tr>
  <td>  <label for="car">Car:</label> </td>
  <td>
    <select name="car" id="car" class="form-select" required>
        {% for car in cars %}
            <option value="{{ car.id }}">
                {{ car.type }} - {{ car.make.name }} - {{ car.year|date:"Y" }}
            </option>
        {% endfor %}
        </td>
    </tr>

    <tr>
        <td> Visit Date </td>
        <td> <input class="date-own form-control" type="text" name="purchase_date" id="purchase_date"> </td>

    </tr>

    <tr>
        <td>  <label for="dealership">Dealership:</label> </td>
        <td>
          <select name="dealership" id="dealership" class="form-select" required>
              {% for dealer in dealerships %}
                  <option value="{{ dealer.full_name }}">
                      {{dealer.full_name}}
                  </option>
              {% endfor %}
              </td>
          </tr>


    </table>
    <br>
<input type="submit" value="Submit">
</form>

<h6>  Raw Data Sent to server: </h6>
{{formdata}}

<h6>  Response from NodeJS+Express server: </h6>
{{response}}
     {% else %}
    <p>You must be logged in to add a review.</p>
{% endif %}


{% endblock %}