{% extends 'djangoapp/base.html' %}

{%block title %} Dealership List {% endblock %}

{% load static %}
{% load getattribute %}
{% block content %}
<table class="table" id="table" data-filter-control="true">
    <thead>
        <tr>
            {% for fieldname in fieldnames %}
            {% if fieldname == "st" %}
            <th data-field="st" data-filter-control="select">{{fieldname}}</th>

            {% else %}
            <th data-field="{{fieldname}}">{{fieldname}}</th>
            {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for dealer in dealerships %}
            <tr>
                {% for fieldname in fieldnames %}
                {% if fieldname == "full_name" %}                    
                <td><a href="{% url 'djangoapp:get_dealer_details' %}?id={{dealer.id}}">{{dealer.full_name}}</a></td>                                    {% else %}
                <td>{{ dealer|getattribute:fieldname }}</td>           

                {% endif %}
                {% endfor %}
                
            </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    $(function() {
        $('#table').bootstrapTable({
            filterControl: true,  // enable filter control
        })
    })
</script>

{% endblock %}