{% extends 'djangoapp/base.html' %}

{%block title %} Dealership List {% endblock %}

{% load static %}
{% load getattribute %}
{% block content %}
<table class="table" id="table">
    <thead>
        <tr>
            {% for fieldname in fieldnames %}
            <th data-field="{{fieldname}}">{{fieldname}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for dealer in dealerships %}
            <tr>
                {% for fieldname in fieldnames %}
                {% if fieldname == "full_name" %}                    
                <td><a href="{% url 'djangoapp:get_dealer_details' %}?id={{dealer.id}}">{{dealer.full_name}}</a></td>                                    {% else %}
                <td>{{ dealer|getattribute:fieldname }}</td>           

                {% endif %}
                {% endfor %}
                
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}