{% extends 'djangoapp/base.html' %}

{%block title %} Dealership Details {% endblock %}

{% load static %}
{% load getattribute %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Field Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for fieldname,value in dealership.items %}
                <tr>
                    {% if fieldname in fieldnames %}
                        <td>{{ fieldname }}</td>
                        <td>{{ value }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br></br>

    <div class="d-flex flex-wrap">
        {% for review in reviews %}
            <div class="card m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ review.name}} </h5>
                    <p class="card-text">{{ review.review}}-{{review.sentiment_emoticon}}</p>
                </div>
                <div class="card-footer text-muted">
                    {{ review.purchase_date }}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}