{% extends 'djangoapp/base.html' %}

{%block title %} Dealership Details {% endblock %}

{% load static %}
{% load getattribute %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Field Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for fieldname in dealer.get_frontend_fieldnames %}
                <tr>
                    <td>{{ fieldname }}</td>
                    <td>{{ dealer|getattribute:fieldname }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% for review in reviews %}

    <table class="table">
        <thead>
            <tr>
                <th>Field Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for fieldname in review.get_fields %}
                <tr>
                    <td>{{ fieldname }}</td>
                    <td>{{ review|getattribute:fieldname }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endfor %}
{% endblock %}