{% extends 'djangoapp/base.html' %}

{%block title %} Home {% endblock %}


{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Final Project Django Site for Full Stack Cloud Development Capstone Project on Cousera.org</h1>
        This website was made by Max B. for the final course in the 12-course (~230 hour) Full Stack Development Certificate sponsored by IBM
        on coursera.org, the coursera course outline is located here <a href="https://www.coursera.org/learn/ibm-cloud-native-full-stack-development-capstone#about">Here <a>
        <h5> Main concepts implemented: <h5>
      <ul>
            <li>Combine JavaScript, React.js, Python, Node.js, on a real-world project.
            <li>Deploy your Django web application on the cloud using containers and serverless (Via Kubernetes and Docker).
            <li>Implment a REST API in Node.js and Express.js for common GET,POST,PATCH, and DELETE commands.
            <li>Implement User Authentication and different permission levels.
            <li>Work with ORM databases and relational mapping
        </ul>

    </div>
  </div>
{% endblock %}