{% extends 'djangoapp/base.html' %}

{%block title %} Macros {% endblock %}

{% load static %}
{% load getattribute %}
{% load crispy_forms_tags %} {% block content %}
{% load widget_tweaks %}
{% load protein_filter %}

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="form_type" value="person_form">


        <div class="container">
        <table>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr>              
                <td><label for="{{ formdata.gender.id_for_label }}">{{ formdata.gender.label }}:</label></td>
                <td>{{ formdata.gender }}</td>  

                <td><label for="{{ formdata.age.id_for_label }}">{{ formdata.age.label }}:</label></td>
                <td>{{ formdata.age }}</td>
            </tr>

            <tr>              
                <td><label for="{{ formdata.height_ft.id_for_label }}">{{ formdata.height_ft.label }}:</label></td><td>{{ formdata.height_ft }}</td>
                <td><label for="{{ formdata.height_in.id_for_label }}">{{ formdata.height_in.label }}:</label></td><td>{{ formdata.height_in }}</td>

            </tr>
        </div>

        <tr>              
            <td ><label for="{{ formdata.bf.verbose }}">{{ formdata.bf.label }}:</label> </td>
            <td >{{ formdata.bf }}  </td>
            <td ><label for="{{ formdata.weight_lbs.id_for_label }}">{{ formdata.weight_lbs.label }}:</label> </td>
            <td >{{ formdata.weight_lbs }}  </td>
        </tr>

        <tr>              
            <td colspan="1"><label for="{{ formdata.activity_level.id_for_label }}">{{ formdata.activity_level.label }}:</label> </td>
            <td colspan="3">{{ formdata.activity_level }}  </td>
        </tr>

    </table>

</div>      
    <button type="submit" class="btn btn-success">Calculate</button>
</form>

<br>
<table>

<!--
<tr>
    <td>B.M.I:</td>
    <td>{{person.BMI}}</td>
</tr>
-->

<tr>
    <td>Maitenance Calories:</td>
    <td>{{person.BMR}}</td>
</tr>
</table>

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="form_type" value="day_form">
    {{ foodform }}
    <input type="submit" value="Save">
</form>



<table>
    <tr>
    <th>Food</th>
    <th>Calories</th>
    <th>Protein</th>
    <th>Carbs</th>
    <th>Fat</th>
    <th>Vitamin A</th>


    </tr>
    


    {% for food in today_object.foods.all %}
    <tr>
        <td>{{food.description}}</td>
        <td>{{food.calories}}</td>
        <td> {{ food|get_nutrient:"protein" }}g</td>
        <td> {{ food|get_nutrient:"carb"  }}g</td>
        <td> {{ food|get_nutrient:"fat" }}g</td>
        <td> {{ food|get_vitamin_by_letter:"A" }}g</td>

    </tr>
    {% endfor %}


{% endblock %}