{% extends 'djangoapp/base.html' %}

{%block title %} Macros {% endblock %}

{% load static %}
{% load getattribute %}
{% load crispy_forms_tags %} {% block content %}
{% load widget_tweaks %}
<form method="post">
    {% csrf_token %}

        <div class="container">
        <table>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr>              
                <td><label for="{{ formdata.gender.id_for_label }}">{{ formdata.gender.label }}:</label></td>
                <td>{{ formdata.gender }}</td>  

                <td><label for="{{ formdata.age.id_for_label }}">{{ formdata.age.label }}:</label></td>
                <td>{{ formdata.age }}</td>
            </tr>

            <tr>              
                <td><label for="{{ formdata.height_ft.id_for_label }}">{{ formdata.height_ft.label }}:</label></td><td>{{ formdata.height_ft }}</td>
                <td><label for="{{ formdata.height_in.id_for_label }}">{{ formdata.height_in.label }}:</label></td><td>{{ formdata.height_in }}</td>

            </tr>
        </div>

        <tr>              
            <td ><label for="{{ formdata.bf.verbose }}">{{ formdata.bf.label }}:</label> </td>
            <td >{{ formdata.bf }}  </td>
            <td ><label for="{{ formdata.weight_lbs.id_for_label }}">{{ formdata.weight_lbs.label }}:</label> </td>
            <td >{{ formdata.weight_lbs }}  </td>
        </tr>

        <tr>              
            <td colspan="1"><label for="{{ formdata.activity_level.id_for_label }}">{{ formdata.activity_level.label }}:</label> </td>
            <td colspan="3">{{ formdata.activity_level }}  </td>
        </tr>

    </table>

</div>      
    <button type="submit" class="btn btn-success">Calculate</button>
</form>

<br>
<table>

<!--
<tr>
    <td>B.M.I:</td>
    <td>{{person.BMI}}</td>
</tr>
-->

<tr>
    <td>Maitenance Calories:</td>
    <td>{{person.BMR}}</td>
</tr>
</table>



{% endblock %}