{% extends 'djangoapp/base.html' %}

{%block title %} Review List {% endblock %}

{% load static %}
{% load getattribute %}
{% block content %}
<table class="table" id="table" data-filter-control="true">
    <thead>
        <tr>
            {% for fieldname in fieldnames %}
            <th data-field="{{fieldname}}">{{fieldname}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for review in reviews %}
            <tr>
                {% for fieldname in fieldnames %}
                <td>{{ review|getattribute:fieldname }}</td>   
                {% endfor %}      
            </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    $(function() {
        $('#table').bootstrapTable({
            filterControl: true,  // enable filter control
        })
    })
</script>

{% endblock %}